C#/Csharp_PKU/CsExample/ch10/WebService1.asmx.wsdl

  <?xml version="1.0" encoding="utf-8" ?> 
  <definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.xxxx.com/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.xxxx.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
  <s:schema elementFormDefault="qualified" targetNamespace="http://www.xxxx.com/">
  <s:element name="HelloWorld">
  <s:complexType>
  <s:sequence>
  <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" /> 
  </s:sequence>
  </s:complexType>
  </s:element>
  <s:element name="HelloWorldResponse">
  <s:complexType>
  <s:sequence>
  <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" /> 
  </s:sequence>
  </s:complexType>
  </s:element>
  <s:element name="string" nillable="true" type="s:string" /> 
  </s:schema>
  </types>
  <message name="HelloWorldSoapIn">
  <part name="parameters" element="s0:HelloWorld" /> 
  </message>
  <message name="HelloWorldSoapOut">
  <part name="parameters" element="s0:HelloWorldResponse" /> 
  </message>
  <message name="HelloWorldHttpGetIn">
  <part name="name" type="s:string" /> 
  </message>
  <message name="HelloWorldHttpGetOut">
  <part name="Body" element="s0:string" /> 
  </message>
  <message name="HelloWorldHttpPostIn">
  <part name="name" type="s:string" /> 
  </message>
  <message name="HelloWorldHttpPostOut">
  <part name="Body" element="s0:string" /> 
  </message>
  <portType name="Service1Soap">
  <operation name="HelloWorld">
  <input message="s0:HelloWorldSoapIn" /> 
  <output message="s0:HelloWorldSoapOut" /> 
  </operation>
  </portType>
  <portType name="Service1HttpGet">
  <operation name="HelloWorld">
  <input message="s0:HelloWorldHttpGetIn" /> 
  <output message="s0:HelloWorldHttpGetOut" /> 
  </operation>
  </portType>
  <portType name="Service1HttpPost">
  <operation name="HelloWorld">
  <input message="s0:HelloWorldHttpPostIn" /> 
  <output message="s0:HelloWorldHttpPostOut" /> 
  </operation>
  </portType>
  <binding name="Service1Soap" type="s0:Service1Soap">
  <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
  <operation name="HelloWorld">
  <soap:operation soapAction="http://www.xxxx.com/HelloWorld" style="document" /> 
  <input>
  <soap:body use="literal" /> 
  </input>
  <output>
  <soap:body use="literal" /> 
  </output>
  </operation>
  </binding>
  <binding name="Service1HttpGet" type="s0:Service1HttpGet">
  <http:binding verb="GET" /> 
  <operation name="HelloWorld">
  <http:operation location="/HelloWorld" /> 
  <input>
  <http:urlEncoded /> 
  </input>
  <output>
  <mime:mimeXml part="Body" /> 
  </output>
  </operation>
  </binding>
  <binding name="Service1HttpPost" type="s0:Service1HttpPost">
  <http:binding verb="POST" /> 
  <operation name="HelloWorld">
  <http:operation location="/HelloWorld" /> 
  <input>
  <mime:content type="application/x-www-form-urlencoded" /> 
  </input>
  <output>
  <mime:mimeXml part="Body" /> 
  </output>
  </operation>
  </binding>
  <service name="Service1">
  <documentation>Simple Web Services</documentation> 
  <port name="Service1Soap" binding="s0:Service1Soap">
  <soap:address location="http://localhost/Temp_Trash/WebService1/Service1.asmx" /> 
  </port>
  <port name="Service1HttpGet" binding="s0:Service1HttpGet">
  <http:address location="http://localhost/Temp_Trash/WebService1/Service1.asmx" /> 
  </port>
  <port name="Service1HttpPost" binding="s0:Service1HttpPost">
  <http:address location="http://localhost/Temp_Trash/WebService1/Service1.asmx" /> 
  </port>
  </service>
  </definitions>